/* === App Styles ===
============================================================================= */
html {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 90%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 22px;
  padding: 5px;
}

input {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  width: 200px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: hsl(0, 0%, 35%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
}

input:last-child {
  margin-right: 0;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 20px;
}

.submit-button {
  display: block;
  width: 100%;
}
