/* === App Styles ===
============================================================================= */
html {
  background-color: hsl(215, 40%, 47%);
  color: hsl(0, 0%, 10%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  display: flex;
  justify-content: center;
}

.app {
  background-color: hsl(230, 10%, 95%);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-size: 36px;
}

p {
  display: inline;
  font-size: 22px;
  padding: 5px;
}

input {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  background-color: hsl(215, 20%, 90%);
  color: hsl(0, 0%, 5%);
  border-radius: 5px;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin: 10px 0;
}

.submit-button {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-items: center;
  column-gap: 10px;
  margin: 10px 0;
}

/* === Button Colors ===
============================================================================= */
.green {
  background-color: hsl(125, 45%, 40%);
  color: white;
}
.red {
  background-color: hsl(0, 50%, 45%);
  color: white;
}

.blue {
  background-color: hsl(215, 50%, 45%);
  color: white;
}
.gray {
  background-color: hsl(215, 0%, 55%);
  color: hsl(215, 0%, 15%);
}
